.content {
    margin-left: 15%;
}

.userId {
    width: 10%;
}

.error {
    margin: 0;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::placeholder {
    text-align: right;
}

.no-spinners {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}