<div class="error w3-panel w3-red w3-round " style="width: 30%;">
    <a href="/"
       class="w3-button w3-red w3-xlarge w3-display-topright">&times;</a>
    <h3>Warning!</h3>
    <p>{{.Err}}</p>
</div>
