<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" type="text/css">
    <link href="/web/assets/css/app.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">

</head>
<body>
<div class="w3-bar w3-blue">
    <a href="/" class="w3-bar-item w3-button w3-blue">Home</a>
    <a href="/otm" class="w3-bar-item w3-button w3-blue">One Time Message</a>
    <a href="#" class="w3-bar-item w3-button w3-blue">Link 2</a>
{{if .Name}}
    <div class="w3-dropdown-hover userId w3-right " style="width:8%;">
        <button class="w3-button">{{.Name}}</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#" class="w3-bar-item w3-button">Notifications</a>
            <a href="/logout" class="w3-bar-item w3-button">LogOut</a>
        </div>
    </div>
{{else}}
    <a href="/signup" class="w3-bar-item w3-button w3-blue w3-right">sign in / sign up</a>
{{end}}

</div>
{{yield}}
</body>
</html>