
<div class="w3-sidebar w3-bar-block w3-light-blue" style="width:10%;">
    <a href="/sendMessage" class="w3-bar-item w3-button">Send Message</a>
    <a href="/readMessage" class="w3-bar-item w3-button">Read Message</a>
</div>

<div class="content">

    <div class="w3-container w3-dark-grey">
        <h1>My Page</h1>
    </div>

    <div class="w3-container">
        <p>Use the w3-color class to change the background color of the sidebar.</p>
        <p>If you want an active/current link, to let the user know which page he/she is on, add the w3-color class to one of the links as well.</p>
    </div>

</div>
