<div class="w3-row w3-container">
    <div class="w3-quarter w3-container">.</div>
    <div class="w3-half w3-container w3-center">


        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xlarge fa fa-envelope-o"></i></div>
            <div class="w3-rest">
{{.Otm.Content}}
            </div>
        </div>


    </div>
    <div class="w3-quarter w3-container"></div>
</div>