<div class="w3-row w3-container">
    <div class="w3-quarter w3-container">.</div>
    <div class="w3-half w3-container w3-center">
        <form action="/sendMessage" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" method="post">


            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xlarge fa fa-envelope-o"></i></div>
                <div class="w3-rest">
                    <input class="w3-input w3-border" name="email" type="email" placeholder="Email of addressee"
                           required>
                </div>
            </div>

            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xlarge fa fa-pencil"></i></div>
                <div class="w3-rest">
                    <textarea class="w3-input w3-border" name="message" placeholder="Message" rows="10"
                              required></textarea>
                </div>
            </div>
            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xlarge fa fa-clock-o"></i></div>
                <div class="w3-rest">
                    <div class="w3-row-padding">
                        <div class="w3-third">
                            <input class="w3-input w3-border no-spinners" type="number" placeholder="Days" name="days"
                                   min="0">
                        </div>
                        <div class="w3-third">
                            <input class="w3-input w3-border no-spinners" type="number" placeholder="Hours" name="hours"
                                   min="0">
                        </div>
                        <div class="w3-third">
                            <input class="w3-input w3-border no-spinners" type="number" placeholder="Minutes"
                                   name="minutes" min="0">
                        </div>
                    </div>

                </div>
            </div>
            <button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding">Send</button>

        </form>
    </div>
    <div class="w3-quarter w3-container"></div>
</div>