<div class="w3-row w3-container">
    <div class="w3-quarter w3-container">.</div>
    <div class="w3-half w3-container w3-center">
        <form action="/getUser" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" method="post">
            <div class="w3-container" >
                <div class="w3-twothird" style="width: 80%;"><h2>Sign In</h2></div>
                <div class="w3-third w3-button w3-right" style="width:20%;"><a style="text-decoration: none;" href="/signup"><h3>Sign Up</h3></a></div>
            </div>


            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xlarge fa fa-user"></i></div>
                <div class="w3-rest">
                    <input class="w3-input w3-border" name="name" type="text" placeholder="Name or Email">
                </div>
            </div>


            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xlarge fa fa-lock"></i></div>
                <div class="w3-rest">
                    <input class="w3-input w3-border" name="password" type="password" placeholder="Password">
                </div>
            </div>

            <button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding">Send</button>

        </form>
    </div>
    <div class="w3-quarter w3-container"></div>
</div>